body{
    background-color: #00FFD1;
}

.body1{
    background-color: #31C6D4;
    position: absolute;
    left: 65px;
    padding: 10px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 45px;
    background-color: #FFFF00;
    position: absolute;
    padding: 10px;
}

#icon{
    padding-top: calc(100vh - 335px);
    width: 45px;
}
