body{
    display: flex;
    background-color: #00FFD1;
    padding-left: 0px;
}



.header{
    /* display: none; */
    /* change this for contact */
    display: none;
    justify-content:flex-start;
    flex-direction: column;
    font-size: 25px;
    background-color: #FF1E1E;
    position:relative;
    padding-left: 7px;
    padding-right: 7px;
    height: 100vh;
    margin-left: 0%;
    /* overflow: auto; */

}

.subheader{
    display: flex;
    flex-direction: column;
    font-size: 29px;
    padding-left: 7px;
    cursor:pointer;
}

#arrow{
    padding-left: 4.5px;
    font-size: 20px;
    margin-left: 9.5px;
    cursor: pointer;
}

#arrow1{
    padding-left:4px;
    font-size: 22px;
    top: 8px;
    cursor: pointer;

}
#icon{
    padding-top: 6px;
    width: 45px;
    margin-left: 1.5px;

}

#leetCode-icon{
    margin-left: 1px;
    padding-top: 6px;
    padding-left: 1px;
    width : 31px;
}

#telegram-icon{
    margin-left: 1px;
    padding-top: 6px;
    width : 31px;
    padding-left: 1px;

}

.fa-brands{
    padding-top: 6px;
    margin-left: 4px;
}

#call-icon{
    width: 25px;
    margin-left: 2px;
    padding-top: 6px;
    margin-left: 3px;
}

#mail-icon{
    padding-top: 6px;
    margin-left: 2.5px;
    size: 35px;
}

.main-header{
    /* display: none; */
    /* position: relative; */
    /* display: flex; */
    flex-direction: column;
}

